.dark-mode {
    --bs-body-bg: #212529;
    --bs-body-color: #ffffff;
    --bs-placeholder-color: #999999;
}

/* Specific styles for placeholders in dark mode */
.dark-mode input::placeholder, .dark-mode textarea::placeholder {
    color: var(--bs-placeholder-color) !important;
}

.dark-mode .btn-dark {
    background-color: #a4a4a4; /* Light background color */
    color: #212529; /* Dark text color */
}
